<footer class="footer__section">
	<svg class="footer__wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
		<path
			fill="#ffffff"
			fill-opacity="1"
			d="M0,32L60,37.3C120,43,240,53,360,48C480,43,600,21,720,21.3C840,21,960,43,1080,53.3C1200,64,1320,64,1380,64L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
	</svg>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget">
					<h5>Về Căn Tin IUH</h5>
					<div class="about-footer">
						<p>
							Căn tin Trường Đại học Công nghiệp TP.HCM là điểm đến ẩm thực lý tưởng
							với không gian hiện đại, thực đơn phong phú và chất lượng phục vụ chuyên
							nghiệp.
						</p>
					</div>
					<div class="footer-social">
						<a
							href="https://facebook.com/bacdevv"
							target="_blank"
							rel="noopener noreferrer"
							><i class="fa-brands fa-facebook"></i
						></a>
						<a href="#"><i class="fa-brands fa-tiktok"></i></a>
						<a href="mailto:vietbac.coding@gmail.com"
							><i class="fa-solid fa-envelope"></i
						></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget">
					<h5>Thông Tin Liên Hệ</h5>
					<ul class="footer-info">
						<li>
							<i class="fa-solid fa-location-dot"></i>
							<div>
								<span>12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, TP.HCM</span>
							</div>
						</li>
						<li>
							<i class="fa-solid fa-phone"></i>
							<div>
								<span><a href="tel:+842838404462">(028) 3840 4462</a></span>
								<span><a href="tel:+842838490901">(028) 3849 0901</a></span>
							</div>
						</li>
						<li>
							<i class="fa-solid fa-envelope"></i>
							<div>
								<span
									><a href="mailto:cantin@iuh.edu.vn">cantin@iuh.edu.vn</a></span
								>
								<span
									><a href="mailto:dichvu@iuh.edu.vn">dichvu@iuh.edu.vn</a></span
								>
							</div>
						</li>
					</ul>
					<div class="footer-location-map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.7242381139918!2d106.68427047472518!3d10.822158889329383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174deb3ef536f31%3A0x8b7bb8b7c956157b!2sIndustrial%20University%20of%20Ho%20Chi%20Minh%20City!5e1!3m2!1sen!2s!4v1742025757255!5m2!1sen!2s"
							width="100%"
							height="100%"
							style="border: 0"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="footer-widget">
					<h5>Giờ Hoạt Động</h5>
					<div>
						<p class="footer-campus">Cơ sở chính:</p>
						<div class="footer-hours">
							<span>Thứ 2 - Thứ 6</span>
							<span>6:30 - 19:00</span>
						</div>
						<div class="footer-hours">
							<span>Thứ 7</span>
							<span>7:00 - 18:00</span>
						</div>
						<div class="footer-hours">
							<span>Chủ nhật</span>
							<span>7:00 - 17:30</span>
						</div>

						<p class="footer-campus">Cơ sở Phạm Văn Chiêu:</p>
						<div class="footer-hours">
							<span>Thứ 2 - Thứ 6</span>
							<span>6:30 - 17:30</span>
						</div>
						<div class="footer-hours">
							<span>Thứ 7</span>
							<span>7:00 - 16:00</span>
						</div>
					</div>

					<h5 style="margin-top: 30px">Đăng ký nhận thông tin</h5>
					<p>Nhận thông tin về thực đơn mới và khuyến mãi</p>
					<form class="newsletter-form">
						<input type="email" placeholder="Email của bạn" />
						<button type="submit">
							<i class="fa-solid fa-paper-plane"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			<div class="row">
				<div class="col-md-12">
					<div class="footer__copyright__text text-center">
						<p>
							©
							<script>
								document.write(new Date().getFullYear());
							</script>
							Bản quyền thuộc về Nhóm 7 - Toán Tin | Toan tính thông minh, dẫn lối
							thành công
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Scroll to top button -->
<button class="scroll-top-btn">
	<div class="scroll-top-inner">
		<span class="ripple-circle"></span>
		<span class="ripple-circle"></span>
		<i class="fa fa-angle-up"></i>
	</div>
</button>
