<footer class="footer__section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget">
					<h5>Về chúng tôi</h5>
					<p>
						Chúng tôi tự hào mang đến cho khách hàng dịch vụ chuyên nghiệp và uy tín
						nhất trong lĩnh vực.
					</p>
					<div class="footer-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-youtube-play"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget">
					<h5>Liên kết</h5>
					<ul class="footer-links">
						<li><a href="index.html">Trang chủ</a></li>
						<li><a href="about.html">Giới thiệu</a></li>
						<li><a href="services.html">Dịch vụ</a></li>
						<li><a href="gallery.html">Thư viện</a></li>
						<li><a href="contact.html">Liên hệ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget">
					<h5>Thông tin liên hệ</h5>
					<ul class="footer-info">
						<li>
							<i class="fa fa-map-marker"></i>123 Đường ABC, Quận XYZ, TP. Hồ Chí Minh
						</li>
						<li><i class="fa fa-phone"></i>(+84) 28 1234 5678</li>
						<li><i class="fa fa-envelope"></i>info@example.com</li>
						<li><i class="fa fa-clock-o"></i>Thứ 2 - Thứ 6: 8:00 - 17:00</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget">
					<h5>Đăng ký nhận tin</h5>
					<p>Nhận thông tin mới nhất từ chúng tôi.</p>
					<form class="newsletter-form">
						<input type="email" placeholder="Email của bạn" />
						<button type="submit"><i class="fa fa-send"></i></button>
					</form>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<p>
							Bản quyền &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							Thuộc về <a href="index.html">Tên Công Ty</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Scroll to top button -->
<button class="scroll-top-btn">
	<div class="scroll-top-inner">
		<span class="ripple-circle"></span>
		<span class="ripple-circle"></span>
		<i class="fa fa-angle-up"></i>
	</div>
</button>
