<!-- Header section -->
<header class="modern-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 order-2 order-sm-1">
				<div class="header__social">
					<a href="https://facebook.com/bacdevv" target="_blank" rel="noopener noreferrer"
						><i class="fa-brands fa-facebook"></i
					></a>
					<a href="#"><i class="fa-brands fa-tiktok"></i></a>
					<a href="mailto:vietbac.coding@gmail.com"
						><i class="fa-solid fa-envelope"></i
					></a>
				</div>
			</div>
			<div class="col-sm-4 col-md-6 order-1 order-md-2 text-center">
				<a href="./index.html" class="site-logo">
					<img src="img/logo.png" alt="IUH Căn Tin" loading="lazy" />
				</a>
			</div>
			<div class="col-sm-4 col-md-3 order-3 order-sm-3">
				<div class="header__switches">
					<a href="#" class="search-switch">
						<i class="fa-solid fa-magnifying-glass"></i>
					</a>
					<a href="#" class="nav-switch">
						<i class="fa-solid fa-bars"></i>
					</a>
				</div>
			</div>
		</div>
		<nav class="main__menu">
			<ul class="nav__menu">
				<li><a href="./index.html">Trang chủ</a></li>
				<li><a href="./about.html">Giới thiệu</a></li>
				<li><a href="./gallery.html">Thư viện ảnh</a></li>
				<li><a href="./contact.html">Liên hệ</a></li>
			</ul>
		</nav>
	</div>
</header>

<!-- Search model -->
<div class="search-model">
	<div class="h-100 d-flex align-items-center justify-content-center">
		<div class="search-close-switch"><i class="fa fa-plus"></i></div>
		<form class="search-model-form">
			<input type="text" id="search-input" placeholder="Tìm kiếm..." />
		</form>
	</div>
</div>
